<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Cadastro de Clientes</title>

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>

</head>
<body>

<nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                </a>
            </div>
        </div>
</nav>

   <form action="" method="post" class="form-horizontal" >
   
      <div class="panel panel-default">
    		<div class="panel-heading">
    			<h1 class="panel-title">Novo título</h1>
    		</div>
    		
           <div class="panel-body">
  			 
  			<div class="form-group">
  			     <label for="nome" class="col-sm2 control-label">Nome</label>
  				 <div class="col-sm-4">
  				  <input type="text" id="nome" name="nome" />
  				 </div> 				   			
  			</div> 
  			
  			 
  			   			  			
   			 <input type="text" name="dataNascimento" />
    		 <input type="text" name="sexo" />
    	     <input type="text" name="salario" />
    	     
           </div>
   
   </div>
   
   </form>
 
   

   <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
   <script type="text/javascript" src="/js/boostrap.min.js"></script>
    
</body>
</html>