<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="LayoutPadrao">
<head>
  <meta charset="UTF-8"/>
  <title>Cadastro de Clientes</title>
</head>
<body>

<section layout:fragment="conteudo">

   <form action="/clientes" method="post" class="form-horizontal" >
      <div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
        <span th:text="${mensagem}"></span>      
      </div>      
   
      <div class="panel panel-default">
    		<div class="panel-heading">
    			<h1 class="panel-title">Novo título</h1>
    		</div>
    		
           <div class="panel-body" >
  			 
  			<div class="form-group">
  			     <label for="nome" class="col-sm-2 control-label">Nome</label>
  				 <div class="col-sm-4"> 
  				  <input class="form-control" type="text" id="nome" name="nome" />
  				 </div> 				   			
  			</div> 
  		    <div class="form-group">
  			     <label for="dataNascimento" class="col-sm-2 control-label">Data de Nascimento</label>
  				 <div class="col-sm-2">  
  			   	 <input class="form-control" type="text" id="dataNascimento" name="dataNascimento" />
  			   	 </div>
  			</div>
  			   	 
  			<div class="form-group">
  			    <label for="sexo" class="col-sm-2 control-label">Sexo</label>   	 
    		    <div class="col-sm-2">
    		    	<select class="form-control" id="sexo" name="sexo">
    		            <option value="F">Feminino</option>
    		            <option value="M">Masculino</option>
    		    	</select>
    		    </div>
    		</div> 
  			
  			<div class="form-group">
  			    <label for="salario" class="col-sm-2 control-label">Salário</label>   	 
    		    <div class="col-sm-2">
    		    <input class="form-control" type="text" id="salario" name="salario" />
    		    </div>
    		</div> 
    	     
    	    <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                 <button class="btn btn-primary" type="submit">Salvar</button>
              </div>    	        	    
    	    </div>    	     
    	     
           </div>
   
   </div>
   
   </form>
 
  </section> 

   <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
   <script type="text/javascript" src="/js/boostrap.min.js"></script>
    
</body>
</html>