<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
		<!-- Modal -->
		<div class="modal fade" id="excluirModal" tabindex="-1" data-keyboard="false" data-backdrop="static">
			<div class="modal-dialog">	
			 <form action="/clientes" method="post">
			  <input type="hidden" name="_method" value="DELETE" />
			   
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						   <span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Exclusão de Cliente</h4>
					</div>
					
					<div class="modal-body">
					  Confirmar a exclusão do cliente: <h3><span class="label label-info" id="nome"></span></h3>
					  <hr/>
					  Código:  <h3><span class="label label-danger" id="codigo"></span></h3>
					</div>
					
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary">Excluir</button>
					</div>
				</div>
			 </form>
			</div>
		</div>


</html>