<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Teste de clientes</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title aw-titulo-panel">Teste de Clientes</h1>
				<a class="btn btn-link aw-link-panel" href="/clientes/novo">Novo
					cliente</a>
			</div>
		</div>


		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th>Nome</th>
						<th class="text-center col-md-2">Data de nascimento</th>
						<th class="text-center col-md-2">Sexo</th>
						<th class="text-center col-md-2">Salário</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cliente : ${todosClientes}">
						<td class="text-center" th:text="${cliente.codigo}">1</td>
						<td th:text="${cliente.nome}">Nome</td>
						<td class="text-center" th:text="${{cliente.dataNascimento}}">Data
							de nascimento</td>
						<td class="text-center"><span
							th:text="${cliente.sexo.descricao}"
							th:classappend="${cliente.masculino ? 'label label-primary' : 'label label-info'}"></span>

						</td>
						<td class="text-center" th:text="|R$ ${{cliente.salario}}|">Salário</td>
						<td class="text-center">
						  <a th:href="@{/clientes/{codigo}(codigo=${cliente.codigo})}" class="btn btn-link btn-xs"> 
						   <span class="glyphicon glyphicon-pencil"></span>
						  </a> 
						<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#excluirModal">
						     <span class="glyphicon glyphicon-remove"></span>
						</a></td>
					</tr>

					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(todosClientes)}">Nenhum
							cliente cadastrado</td>
					</tr>

				</tbody>
			</table>
		</div>
       
   	<!-- Modal -->
		<div class="modal fade" id="excluirModal" tabindex="-1">
			<div class="modal-dialog">	
			 <form action="/clientes" method="post">
			  <input type="hidden" name="_method" value="DELETE" />
			   
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Modal title</h4>
					</div>
					<div class="modal-body">...</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save
							changes</button>
					</div>
				</div>
			 </form>
			</div>
		</div>
             
	</div>

   <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
   <script type="text/javascript" src="/js/bootstrap.js"></script>

   
</body>
</html>